<ion-view title="返利比例计算标准" hide-tabs="true">
	<ion-nav-buttons>
    <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>
 </ion-nav-buttons>
  <ion-content >
  	<div style="padding: 10px 15px;">
  		<div style="width: 100%;height: 14rem;">
	  		<img style="width: 100%;height: 100%;" src="{{img}}"/>
	  	</div>
	  	<div>
	  		<p>您总业绩 = 个人购卡 + 旗下代理购卡</p>
	  		<p>您实际返利 = 您总业绩 * 对应提成比例 - 您各直属下级的业绩 * 对应提成比例</p>
	  		<p> 旗下所有业绩：您发展ABC,B发展DE，D发展FG,那么ABC是您的直属下级代理；A的业绩是A个人充值金额，B的业绩是BDEF充值金额总和，D的业绩是DFG充值金额总和；您的总业绩就是您个人充值金额+ABCDEFG充值金额总和</p>
	  		<p> 本页面数据每10分钟更新1次，每月月底统计最终返利数值，并将返利金额添加到个人账号，可从返利提现中进行提取</p>
	  		<p>本页面数据每10分钟更新1次，每月月底统计最终返利数值，并将返利金额添加到个人账号，可从返利提现中进行提取</p>
	  		<p>若有任何不明白，请咨询官方客服，或关注微信公众号【名门互娱】</p>
	  	</div>
  	</div>
  	
  	
  </ion-content>
