<ion-view  hide-tabs="true">
  <ion-nav-title>
    <ion-header-bar class="">
  	  <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>
      <span class="gg-fb" style="width: 80%;color: #444;margin-top: -6px;">更改名字</span>
      <span class="gg-fb" style="float: right;margin-top: -5px;width: 69px;background:#23e40d ;" ng-click="baocunFn()">
      	  保存
      </span>
    </ion-header-bar>
  </ion-nav-title>
  <ion-content >
   <div class="shiliu" style="padding: 15px;">
  	 	<input type="text" id="wxh"  value="" style="margin-bottom: 15px;width: 95%;border-bottom: 2px solid #3cca2c;background: #f2f2f2;" />
  	 	<p>输入您要修改的新号，名门互娱后台将会与您取得联系</p>
   </div>
  	
  </ion-content>
</ion-view>