<ion-view title="购卡记录" hide-tabs="true">
  <ion-nav-buttons>
    <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>

  </ion-nav-buttons>
  <ion-content >
  	<ion-refresher
    pulling-text="下拉刷新..."
    on-refresh="doRefresh()">
  </ion-refresher>
  	 <div class="tou-m1" style="">
  	 	<div >
  	 		 <input id="gktime" type="search" placeholder="输入如2017-01-01查看记录" style="height: 2.4rem;padding-left: 24px; width: 91%;border-radius:7%/50% ;" >
  	    <i class="icon ion-ios-search-strong" style="font-size: 30px;float: right;margin-top: -36px;margin-right: 14px;" ng-click="jilusousFn()"></i>

  	 	</div>
  	 	<div class="shang" ng-repeat="item in goukaData" style="margin-top:15px ;background: white;height: 10rem;">
	  	 		<div style="height: 2.5rem;border-bottom: 1px solid #d3d3d3; padding-left: 10px;line-height: 2.5rem;">
	  	 			<span>订单编号:</span>
	    		  <span style="float: right;">{{item.orderNum}}</span>
	  	 		</div>
	  	 		<div id="gk-tc" style="color:#4556ff ;margin-top:15px;padding-left: 10px">
	  	 			<span>{{item.pname}} :</span>
	    		  <span style="float: right;">{{item.money}}元 {{item.number}}张</span>
	  	 		</div>
	  	 		<div style="margin-top:15px;padding-left: 10px">
	  	 			<span>{{item.payWay}}</span>
	    		  <span style="float: right;">{{item.createTime}}</span>
	  	 		</div>
	  	 		<div style="margin-top:15px;padding-left: 10px">
	  	 			<span>{{item.status}}</span>
	  	 		</div>
  	 	</div>
  	 	<div class="xia" ng-repeat="item in goukasData" style=" margin-top:15px ;background: white;height: 10rem;">
  	 		<div style="height: 2.5rem;border-bottom: 1px solid #d3d3d3; padding-left: 10px;line-height: 2.5rem;">
  	 			<span>订单编号:</span>
    		  <span style="float: right;">{{item.orderNum}}</span>
  	 		</div>
  	 		<div id="gk-tc" style="color:#4556ff ;margin-top:15px;padding-left: 10px">
  	 			<span>{{item.nickName}} :</span>
    		  <span style="float: right;">{{item.money}}元 {{item.number}}张</span>
  	 		</div>
  	 		<div style="margin-top:15px;padding-left: 10px">
  	 			<span>{{item.payWay}}</span>
    		  <span style="float: right;">{{item.datetime}}</span>
  	 		</div>
  	 		<div style="margin-top:15px;padding-left: 10px">
  	 			<span>{{item.status}}</span>
  	 		</div>
  	 	</div>
  	 </div>
  	<!--上拉加载-->
      <ion-infinite-scroll
        icon="ion-loading-c"
        ng-if="!moredata"
        on-infinite="loadMore()"
        immediate-check="false"
        distance="10%">
      </ion-infinite-scroll>
  </ion-content>
</ion-view>

