<ion-view  hide-tabs="true" >
  <ion-nav-title>
    <ion-header-bar class="">
  	  <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>
      <span class="gg-fb" style="width: 80%;color: #444;margin-top: -6px;">编辑公告</span>
      <span class="gg-fb" style="float: right;margin-top: -5px;" ng-click="gonggaofabuFn()">
      	  发布
      </span>
    </ion-header-bar>
  </ion-nav-title>
  <ion-content >
  	<div style="margin-top: 15px;background: white;">
  		<textarea id="content" name="MSG" cols=50 rows=6>
			    {{text}}
			</textarea>
  	</div>  
  	
  </ion-content>
</ion-view>
