<ion-view view-title="综合">
  <ion-content>
  	<div id="" style="background: #f2f2f2;padding-top: 15px;">
  		 <div style="background: white;padding: 25px 40px;">
	  		 	 <div style="height: 6rem;">
		  		 	 	 <div class="zong-tab button button-stable" ng-click="julibuFn()" style="float: left;">
		  		 	 	 	 俱乐部
		  		 	 	 </div>
		  		 	 	 <div class="zong-tab button button-stable" ng-click="goumaikaFn()" style="float: right;">
		  		 	 	 	 购买房卡
		  		 	 	 </div>	
	  		 	 </div>
	  		 	 <div style="clear: both;height: 6rem;margin-top: 20px;">
	  		 	 	 <div class="zong-tab button button-stable" ng-click="dailixxiFn()" style="float: left;">
	  		 	 	 	 代理信息
	  		 	 	 </div>
	  		 	 	 <div class="zong-tab button button-stable" ng-click="jiagouFn()" style="float: right;">
	  		 	 	 	 代理架构
	  		 	 	 </div>
  		 	 </div>
  		 	 <div style="clear: both;height: 6rem;margin-top: 20px;">
	  		 	 	 <div class="zong-tab button button-stable"ng-click="baobiaoFn()" style="float: left;">
	  		 	 	 	 每日报表
	  		 	 	 </div>
  		 	 </div>
  		 </div>
  	</div>
   
  </ion-content>
</ion-view>
