
<ion-tabs class="tabs-icon-top tabs-color-active-positive " ng-class="{'tabs-item-hide':$root.hideTabs}">

  <!-- Dashboard Tab -->
  <ion-tab title="我的返利" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="综合"  href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的信息" href="#/tab/account">
  <ion-nav-view name="tab-account"></ion-nav-view>
</ion-tab>


</ion-tabs>
