<ion-view title="名门互娱协议标准" hide-tabs="true">
	<ion-nav-buttons>
    <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>
 </ion-nav-buttons>
  <ion-content >
  	<div class="shiba" style="margin-top: 15px;background: white;">
  		<div style="height: 4rem; line-height: 4rem; text-align: center;color:#b1b1b1 ;">
  			名门互娱代理员合作协议
  		</div>
  		<div style="padding: 5px 20px;color: #555555;">
  			 <p>
  			 	名门互娱代理员合作协议名门互娱代理员合作协议名门互娱代理员合作协议
  			 	名门互娱代理员合作协议
  			 </p>
  		</div>
  	</div> 
  	
  </ion-content>
</ion-view>
