<ion-view title="其他月收入" hide-tabs="true">
	<ion-nav-buttons>
    <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>

  </ion-nav-buttons>
  <ion-content >
	<div style="height: 3rem;background: #ff9900;padding: 5px 25px;">
		<input id="times" type="text" ng-model="sous"  style="width:85% ;padding-left: 10px; float: left;border-radius: 6%/50%;margin-right: 8px;"disabled />
		 <i class="icon ion-ios-search placeholder-icon" ng-click="yuesousuoFn()"  style="font-size: 35px;color: white;"></i>
	</div>
	<div id="yue" style="height: 14rem;padding: 15px 20px;border-bottom: 1px solid #ccc;">
		<div style="height: 12rem;border: 1px solid black;border-radius: 6%/14%;">
			<div>
				<div class="row" id="" style="padding: 10px 30px;">
					<div class="col col-30">
						<i class="icon icons ion-ios-arrow-back icons" ng-click="jianFn()"></i>
					</div>
					<div class="col col-40" style="text-align: center;padding-top: 12px;">
						<input type="" ng-model="name"  id="year" value="" style="width: 95%;padding-left: 20px;border: 1px solid white;" disabled />
						<!--<span style="" ></span>-->
					</div>
					<div class="col col-30">
						<i class="icon ion-ios-arrow-forward icons" style="float: right;" ng-click="jiaFn()"></i>
					</div>
				</div>
				<div style="padding: 10px 30px;text-align: center;">
					<div ng-repeat="item in yue" >
						<div ng-click="jiyueFn($index)" style="width: 25%;float: left;height: 30px;">
							{{item}}月
						</div>
				    </div>
				</div>
				
			</div>
		</div>
		
	</div>
	<div>
		<div class="qyuefen">
			<span>个人购卡</span>
			<span class="fudong" >{{souyueData.allMoney}}</span>
		</div>
		<div class="qyuefen">
			<span>旗下代理购卡</span>
			<span class="fudong">{{souyueData.qixiaAllMoney}}</span>
		</div>
		<div class="qyuefen">
			<span>你总业绩</span>
			<span class="fudong">{{souyueData.allYeji}}</span>
		</div>
		<div class="qyuefen">
			<span>返利比例</span>
			<span class="fudong">{{souyueData.fanliBi}}</span>
		</div>
		<div class="qyuefen">
			<span>总返利</span>
			<span class="fudong">{{souyueData.allFanli}}</span>
		</div>
		<div class="qyuefen">
			<span>旗下代理返利</span>
			<span class="fudong">{{souyueData.qixiaAllFanli}}</span>
		</div>
		<div class="qyuefen">
			<span>实际返利</span>
			<span class="fudong">{{souyueData.shijiFanli}}</span>
		</div>
	</div>
  	
  </ion-content>
</ion-view>
