<ion-view title="充值记录" hide-tabs="true">
  <ion-nav-buttons>
    <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>

  </ion-nav-buttons>
  <ion-content >
  	  <ion-refresher
	    pulling-text="下拉刷新..."
	    on-refresh="doRefresh()">
	  </ion-refresher>
  		<div class="row zong shiliu" style="background:#ff9900 ;padding-top: 10px; color: white;height: 3rem;">
		  			<div class="col">玩家ID</div>
		  			<div class="col">昵称</div>
		  			<div class="col">剩余房卡</div>
		  			<div class="col">房卡数量</div>
		  			<div class="col">售卡时间</div>
  		</div>
     <ion-list>
  		<div ng-repeat="item in congziData" class="row zong shiliu" style="padding-top: 10px; height: 3rem;margin-top: 10px;">
  			<div class="col">{{item.uid}}</div>
  			<div class="col">{{item.nickName}}</div>
  			<div class="col">{{item.card}}</div>
  			<div class="col">{{item.cartSum}}</div>
  			<div class="col xiao">{{item.datetime}}</div>
  	 
  		</div>
  		</ion-list>
  		<!--上拉加载-->
      <ion-infinite-scroll
        icon="ion-loading-c"
        ng-if="!moredata"
        on-infinite="loadMore()"
        immediate-check="false"
        distance="10%">
      </ion-infinite-scroll>
  	
  </ion-content>
</ion-view>