<ion-view title="代理信息" hide-tabs="true">
  <ion-nav-buttons>
    <button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>

  </ion-nav-buttons>
  <ion-content >
  	 <div style="padding: 15px 20px;">
  	   <input type="search" id="dlsousuo" placeholder="输入代理人手机号" style="height: 2.4rem;padding-left: 24px; width: 91%;border-radius:7%/50% ;" >
  	   <i class="icon ion-ios-search-strong" style="font-size: 30px;float: right;margin-top: -36px;margin-right: 14px;" ng-click="sousuoFn()"></i>
  	 </div>
  	  <div class="tou-m1" id="tjr" style="display: none;">
  	 	 <div class="daili-hang" style="">
  	 	 	  <div class="lie" style="">
  	 	  	   <span>推荐人</span>
    		     <span style="float: right;">{{dlsousData.phone}}</span>
  	 	    </div>
  	 	    <div style="padding: 23px 13px;">
	  	 	    	<p style="font-weight: bold;color:#4556ff;">
		  	 	    		 <span>{{dlsousData.nikeName}}</span>
		    		       <span style="float: right;">{{dlsousData.childPhone}}</span>
	  	 	    	</p>
	  	 	  	  <p>
			  	 	    	<span>{{dlsousData.location}}</span>
			    		    <span style="float: right;">{{dlsousData.inviteTime}}</span>
	  	 	    	</p>
	  	 	   	  <p>
	  	 	    			无服务区域
	  	 	      </p> 
  	 	    </div> 
  	 	 </div> 
  	 </div>
  </ion-content>
</ion-view>