  <div>
	    	<nav class="" style="height: 60px;line-height: 60px;background-color: white;">
				<div class="sous" style="position: relative;">
					<i ng-click="xinxFn()" class="Hui-iconfont Hui-iconfont-search2" style=" "></i>
					<input id="xxinput" type="search" placeholder="搜索" style="float: left;margin-left: 20px;" />	
				</div>
			</nav>
			
			<div class="daoh" style="margin-left: 0px;color: white;">
				<div class="col120">代理账号ID</div>
				<div class="col120">代理昵称</div>
				<div class="col120">俱乐部ID</div>
				<div class="col130">代理微信号</div>
				<div class="col150">代理介绍人账号</div>
				<div class="col150">当前房卡数量</div>
				<div class="col120">当前余额</div>
				<div class="col150">注册日期</div>
				<div class="col150">充值金额(一个月)</div>
				<div class="col150">充值房卡(一个月)</div>		
			</div>
			<div id="tables" ng-repeat="item in dailiData" style="background: white;height: 44px;">
				<div class="col120">{{item.inviteCode}}</div>
				<div class="col120">{{item.nikeName}}</div>
				<div class="col120">{{item.inviteCode}}</div>
				<div class="col130">{{item.wx}}</div>
				<div class="col150">{{item.phone}}</div>
				<div class="col150">{{item.card}}</div>
				<div class="col120">{{item.balance}}</div>
				<div class="col150">{{item.inviteTime}}</div>
				<div class="col150">{{item.allchongzhi}}</div>
				<div class="col150">{{item.allgoumai}}</div>

			</div>
			<div class="page">
				<ul class="pageMenu clearfix">
					 <li id="dls" class="prevPage" ng-click="xxsyyFn()"> < 上一页 </li>
					 <div class="pageObj ">
						
					 </div>
					 <li id="dlx" class="nextPage" ng-click="xxxyyFn()"> 下一页 > </li>
					 <li class="last" style="font-size: 14px;">
					  	共<span class="totalPage">{{count}}</span>页
					 </li>
				 </ul>
		 </div>
</div>