  <div>
	  <nav class="" style="height: 60px;line-height: 60px;background-color: white;">
				<div class="sous">
					<i ng-click="fanlissFn()" class="Hui-iconfont Hui-iconfont-search2" style=" "></i>
					<input placeholder="请选择日期" id="time" />	
				  <span id="gang">
				  	-
				  </span>
				  <input placeholder="请选择日期" id="times" />	
				</div>
			</nav>
			
			<div class="daoh" style="margin-left: 0px;color: white;">
				<div class="col1">代理ID</div>
				<div class="col1">代理昵称</div>
				<div class="col1">购卡金额</div>
				<div class="col1">购卡数量</div>
				<div class="col1">个人返利比例</div>
				<div class="col120">返利总金</div>
				<!--<div class="col1"></div>-->
				<div class="col120">下级代理返利</div>
				<!--<div class="col1"></div>-->
				<div class="col100">个人实际返利</div>
				<div class="col1">提现申请</div>
				<div class="col80">状态</div>
				<div class="col1">操作</div>
			</div>
	
			<div class="pageBox">
			  <ul class="pageDiv clearfix">
					<div id="" ng-repeat="item in fanliData" style="background: white;height: 44px;">
						<div class="col1">{{item.pnumId}}</div>
						<div class="col1">{{item.nikeName}}</div>
						<div class="col1">{{item.oneMoney}}</div>
						<div class="col1">{{item.sum}}</div>
						<div class="col1">{{item.onerate}}</div>
						<div class="col120">{{item.allFanli}}</div>
						<!--<div class="col1"></div>-->
						<div class="col120">{{item.qixiaAndDirec}}</div>
						<!--<div class="col1"></div>-->
						<div class="col100">{{item.shijiFanli}}</div>
						<div class="col1" title='申请人：{{item.name}},微信号：{{item.wx}},支付宝号:{{item.alipay}}'>{{item.status}}</div>
						<div class="col80">{{item.dealWith}}</div>
						<div class="col1">
							<button class="btn radius buts"  ng-click="chuliFn($index)" style="display: none; background:#2D4964;color: white;">处理</button>						
						</div>
					</div>
			</ul>
			<div class="notContent hide">
			  无数据
		 </div>
	 	<div class="page">
			<ul class="pageMenu clearfix">
				 <li class="prevPage"> < 上一页 </li>
				 <!--<div class="pageObj ">
					
				 </div>-->
				 <li class="nextPage"> 下一页 > </li>
				 <li class="last" style="font-size: 14px;">
				  	共<span class="totalPage"></span>页
				</li>
			 </ul>
		 </div>
			
	</div>
</div>