  <div>
	  <nav class="" style="height: 60px;line-height: 60px;background-color: white;">
			
	  </nav>
	  <form class="form-horizontal" name="myForm">
	  <div id="" style="background-color: white;">
	  	  <div class="rows">
		 		<div class="cols ">请输入手机号</div>
		 		<div class="cols xzcol">
		 			<input name="name" ng-model="name" id="sjh" type="number" placeholder="请输入11位手机号" ng-minlength="11" ng-maxlength="11" required/>
		 		</div>
		 		<div class="cols" ng-show="myForm.name.$invalid">
		 			<span style="float: left;" ng-show="myForm.name.$error.minlength"> * 请输入正确的手机号</span>
		 			<span style="float: left;" ng-show="myForm.name.$error.maxlength"> * 请输入正确的手机号</span>
		 		</div>
		    </div>
		    <div class="rows">
		 		<div class="cols ">昵称</div>
		 		<div class="cols xzcol">
		 			<input type="" name="nicen" id="nicen" ng-model="nicen" ng-maxlength="5" placeholder="昵称" required />	
		 		</div>
		 		<div class="cols" ng-show="myForm.name.$invalid">
		 			<p style="float: left;" ng-show="myForm.nicen.$error.maxlength"> * 昵称长度不能超过5个字符</p>
		 		</div>
		    </div>
		     <div class="rows">
		 		<div class="cols ">邀请码</div>
		 		<div class="cols xzcol">
		 			<input type="" id="yaoqin" name="yaoqin" ng-model="yaoqin" placeholder="邀请码" required />
		 		</div>
		    </div>
		    <div class="rows">
		 		<div class="cols ">密码</div>
		 		<div class="cols xzcol">
		 			<input type="password" id="password" name="password" ng-model="password" ng-minlength="6" ng-pattern="/^(?=.*?[a-zA-Z])(?=.*?[0-9])[a-zA-Z0-9]/" placeholder="密码" required />
		 		</div>
		 		<div class="cols" ng-show="myForm.password.$invalid">
		 			<span style="float: left;" ng-show="myForm.password.$error.minlength"> * 密码长度要超过5个字符</span>
		 			<span style="float: left;" ng-show="myForm.password.$error.pattern"> * 密码由数字和字母组成</span>
		 		</div>
		    </div>
		     <div class="rows">
		 		<div class="cols ">确认密码</div>
		 		<div class="cols xzcol">
		 			<input type="password" ng-model="passwordagain" name="passwordagain"id="passwordagain" placeholder="请再输一遍密码" required />
		 		</div>
		 		<div class="cols" ng-show="myForm.password.$valid">
		 			<p style="float: left;" ng-show="passwordagain!=password"> * 两次密码要一致</p>
		 		</div>
		    </div>
		    <div class="rows">
		 		<div class="cols ">验证码</div>
		 		<div class="cols xzcol">
		 			<input type="" id="yanzen"  name="yanzen" ng-model="yanzen" required/>
		 		</div>
		 		<div class="cols ">
		 			<input type="button" id="yzm" value="获取验证码"  style="width: 33%;height: 2.5rem;padding: 0px;background:rgba(45, 73, 100, 1);color: #ffffff;" />
		 		</div>
		    </div>
		     <div class="rows">
		 		<div class="cols "></div>
		 		<div class="cols xzcol"></div>
		    </div>
		    <div class="rows">
		 		<div class="cols ">
		 		</div>
		 		<div class="cols xzcol">
		 			<button  id="xzdl" ng-click="xinzdlFn()"  style="width: 70%;height: 2.5rem;padding: 0px;background:rgba(45, 73, 100, 1);color: #ffffff;"ng-disabled="myForm.name.$error.required||myForm.name.$error.minlength||myForm.name.$error.maxlength||myForm.password.$error.required ||myForm.password.$error.minlength|| myForm.password.$error.pattern ||myForm.nicen.$error.required||myForm.nicen.$error.maxlength||myForm.yaoqin.$error.required||myForm.yanzen.$error.required || passwordagain!=password" >
		 				新增代理
		 			</button>
		 		</div>
		    </div>
	  </div>
	</form>		
</div>