  
  <div id="loadDiv" style="display: none; font-size: 12px;left: 50%;position: absolute;top: 70%;"><img src="longing.gif"/>Loading</div>
  <div id="yhdiv" >
	    	<nav class="" style="height: 60px;line-height: 60px;background-color: white;">
				<div class="sous" style="position: relative;">
					<i ng-click="yonhuFn()" class="Hui-iconfont Hui-iconfont-search2" style=" "></i>
					<input id="yhinput" type="search" placeholder="搜索" value="" style="float: left;margin-left: 20px;" />	
				</div>
			</nav>
			<div class="daoh" style="margin-left: 0px;color: white;">
				<div class="col1">玩家ID</div>
				<div class="col2">玩家昵称</div>
				<div class="col2">当前房卡数量</div>
				<div class="col2">注册日期</div>
				<div class="col2">所在俱乐部</div>
				<div class="col3">操作</div>
			</div>
			<div id="yhdata">
				<div ng-repeat="item in yonghuData" style="background: white;height: 44px;">
					<div class="col1">{{item.uid}}</div>
					<div class="col2">{{item.nikeName}}</div>
					<div class="col2">{{item.card}}</div>
					<div class="col2">{{item.createTime}}</div>
					<div class="col2">{{item.clubName}}</div>
					<div class="col3" style="">
						<button class="btn radius"  ng-click="fjfkFn($index)" style="background:#2D4964;color: white;">添加房卡</button>
						<button ng-disabled='!{{item.remove}}' ng-click="kaiqiFn($index,$event)" ng-class="{true:'kedian',false:'wuxiao'}[item.remove]" class="btn radius" style="margin-left: 20px;">启用</button>
						<button ng-disabled='{{item.remove}}' ng-click="jinzhiFn($index,$event)" ng-class="{true:'wuxiao',false:'kedian'}[item.remove]" class="btn radius" style="">禁用</button>					
					</div>
			 </div>	
		</div>
		<div class="page">
				<ul class="pageMenu clearfix">
					 <li id="yhs" class="prevPage" ng-click="yhsyyFn()" disabled="true"> < 上一页 </li>
					 <div class="pageObj ">
						
					 </div>
					 <li id="yhx" class="nextPage" ng-click="yhxyyFn()"> 下一页 > </li>
					 <li class="last" style="font-size: 14px;">
					  	共<span class="totalPage">{{count1}}</span>页
					 </li>
				 </ul>
		</div>	
</div>
<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header" style="background: #2D4964;height: 19px;">
				<h3 class="modal-title" style="text-align: center;color: white;padding: 0px;">添加房卡</h3>
				<a class="close" style="color: white;" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body" style="text-align: center;">
			</div>
		</div>
	</div>
</div>



