/* Empty. Add your own CSS if you like */
body{
	background: #f2f2f2;
}
@media (min-width:767px) {
   #bLiJs,.qix-tab div,.p1,.p2,#yeji,#touc input,.tao,#jlb-2,#dl-1,.woxx-2,.shiliu{font-size: 18px;}
   #tx-tou,.qyuefen,.wo-hang,.zong-tab,.daili-hang,#meica,.xinzhen,.dibu div,#jlb-1,#tx-1 p,#tx-2 p,#tx-bl,.tou-m1,#gk-tc,.gg-fb,.woxx-1,.wo-sou,#tx-sp,.shiba{font-size: 19px;}
  .wo-hang-1 i,.shiliu i,.icons{font-size: 63px;}
  .taocan .col .pp2,#zdyi .pp2,.shisi{font-size: 16px;}
  #tx-1 p span,#tx-2 p span,.ersi{font-size: 23px;}
  #mima i,.iconss{font-size: 34px;}
  .xiao{font-size: 14px;}
  #jlbinput{height: 5.4rem;}
  .inputs i{margin-top: -71px;margin-right: 75px;}
}
@media (min-width: 400px) and (max-width: 767px) {
   #bLiJs,.qix-tab div,.p1,.p2,#yeji,#touc input,.tao,#jlb-2,#dl-1,.woxx-2,.shiliu{font-size: 14px;}
   #tx-tou,.qyuefen,.wo-hang,.zong-tab,.daili-hang,#meica,.xinzhen,.dibu div,#jlb-1,#tx-1 p,#tx-2 p,#tx-bl,.tou-m1,#gk-tc,.gg-fb,.woxx-1,.wo-sou,#tx-sp,.shiba{font-size: 17px;}
  .wo-hang-1 i,.shiliu i,.icons{font-size: 38px;}
  .taocan .col .pp2,#zdyi .pp2,.shisi{font-size: 14px;}
  #tx-1 p span,#tx-2 p span,.ersi{font-size: 20px;}
  #mima i,.iconss{font-size: 30px;}
  .xiao{font-size: 12px;}
  #jlbinput{height: 2.4rem;}
   .inputs i{margin-top: -36px;margin-right: 14px;}
}
@media (min-width: 360px) and (max-width: 400px) {
  #bLiJs,.qix-tab div,.p1,.p1,#yeji,#touc input,.tao,#jlb-2,#dl-1,.woxx-2,.shiliu{font-size: 12px;}
   #tx-tou,.qyuefen,.wo-hang,.zong-tab,.daili-hang,#meica,.xinzhen,.dibu div,#jlb-1,#tx-1 p,#tx-2 p,#tx-bl,.tou-m1,#gk-tc,.gg-fb,.woxx-1,.wo-sou,#tx-sp,.shiba{font-size: 15px;}
  .wo-hang-1 i,.shiliu i,.icons{font-size: 36px;}
  .taocan .col .pp2,#zdyi .pp2,.shisi{font-size: 12px;}
  #tx-1 p span,#tx-2 p span,.ersi{font-size: 18px;}
   #mima i,.iconss{font-size: 26px;}
   .xiao{font-size: 10px;}
   #jlbinput{height: 2.3rem;}
   .inputs i{margin-top: -36px;margin-right: 14px;}
}
@media (max-width: 359px) {
   #bLiJs,.qix-tab div,.p1,.p2,#yeji,#touc input,.tao,#jlb-2,#dl-1,.woxx-2,.shiliu{font-size: 10px;}
   #tx-tou,.qyuefen,.wo-hang,.zong-tab,.daili-hang,#meica,.xinzhen,.dibu div,#jlb-1,#tx-1 p,#tx-2 p,#tx-bl,.tou-m1,#gk-tc,.gg-fb,.woxx-1,.wo-sou,#tx-sp,.shiba{font-size: 14px;}
  .wo-hang-1 i,.shiliu i,.icons{font-size: 34px;}
  .taocan .col .pp2,#zdyi .pp2,.shisi{font-size: 10px;}
  #tx-1 p span,#tx-2 p span,.ersi{font-size: 16px;}
   #mima i,.iconss{font-size: 22px;}
   .xiao{font-size: 9px;}
   #jlbinput{height: 2.2rem;}
   .inputs i{margin-top: -34px;margin-right: 14px;}
}
#dl input{
	width: 100%;
	height: 2.5rem;
	margin-top: 20px;
}
#mima input{
	float: left;
	width: 100%;
	padding-left: 34px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}
#mima i{
	float: left;
	position:absolute;
	left: 10px;
	top: 3px;
	color: #979797;
}
.dybutton{
	background:#ff7733 ;color: #ffffff;
	border-radius: 5px;
}
.tou-m{
	background: #f2f2f2;
	padding-top: 10px;
}
.tou-m1{
	background: #f2f2f2;
	padding: 10px 15px;
}
#bLiJs{
	height: 10rem;
	border-bottom: 1px solid #d3d3d3;
	/*font-size: 16px;*/

}
.dybutton:hover{
	background-color:#e18150;
}
.p1{
	text-align: center;
	/*font-size: 16px;*/
	color: #b1b1b1;
	padding-top: 25px;
}

.p2{
	text-align: center;
	/*font-size: 16px;*/
	color: black;
	padding-top: 25px;
}
#yeji{
	/*font-size: 16px;*/

}
p{
	margin: 0px;
}
#tx-tou{
	height: 5rem;
	text-align: center;
	/*font-size: 18px;*/
	color: black;
	line-height: 5rem;
	color: #333333;
}
#tx-bl{
	float: left;
	color: #b1b1b1;
	margin:6px 20px;
}
#fangs img{
	width: 9%;
	height: 70%;
}

/*月份*/
.qyuefen{
	/*font-size: 18px;*/
	height: 3rem;
	line-height: 3rem;
	padding: 0px 20px;
	border-bottom: 1px solid #d3d3d3;
	clear: both;
}
.fudong{
	float: right;
}
/*旗下代理*/
.qix-tab div{
	margin:0px 1px;
	background: #ff9900;
	color: white;
	/*font-size: 16px;*/
	height: 3rem;
	text-align: center;
	padding-top: 14px;
}
#dl-1{
	height:10rem;
	padding:25px 15px; 
	border: 1px solid #ccc;
	/*font-size: 16px;*/
}
/*历史提现记录*/
.wo-right{
	text-align: right;
}
#lisi .row{
	margin-bottom: 10px;
}
/*我的信息*/
.wo-hang{
	background:white;
	padding: 0px 15px;
	/*font-size: 18px;*/
}
.wo-hang-1{
	height: 4rem;
	line-height: 4rem;
	padding: 0px 10px;
	clear: both;
}
.wo-hang-1 i{
	/*font-size: 38px;*/
}
.wo-sou{
	color: white;
	padding-left:30px;
	padding-top: 7rem;
}
/*综合*/
.zong-tab{
	height: 75%;
	width: 45%;
	background: #f2f2f2;
	text-align: center;
	padding-top: 25px;
	/*font-size: 18px;*/
}
.zong .col{
	text-align: center;
}
#touc .taocan{
	height: 6rem;
	margin-top: 5px;
}
.taocan .col{
	height: 5rem;
	text-align: center;
	/*padding-top: 14px;*/
	border: 1px solid #8e8e8e;
	margin-left: 8px;
	border-radius: 15px;
}
.taocan .col .pp1{
	color:#555555 ;
}
.taocan .col .pp2{
  color: #b1b1b1;
  margin-top: -8px;
	/*font-size: 15px;*/	
}

.weixin-tip img{max-width: 100%; height: auto;}
.weixin-tip{display: none; position: fixed; left:0; top:0; bottom:0; background: rgba(0,0,0,0.6); filter:alpha(opacity=80);  height: 100%; width: 100%; z-index: 100;}
.weixin-tip p{ margin-top: 1%; padding:0 5%;}

#zdyi{
	margin-top: 16px;
	border: 1px solid #8e8e8e;
	height: 5rem;
	width: 11rem;
	text-align: center;
	padding-top: 13px;
	border-radius:8%/11%;
}
#zdyi .pp1{
	color:#555555 ;
}
#zdyi .pp2{
    color: #b1b1b1;
    margin-top: -8px;
	/*font-size: 15px;*/	
}
#touc input{
	border: 1px solid #8e8e8e;
	border-radius:39px;
	height: 3rem;
	width: 100%;
	padding-left: 20px;
	/*font-size: 16px;*/
}
#touc button{
	border: 1px solid #8e8e8e;
	border-radius:39px;
}
.tao{
	height: 4rem;
	border-bottom: 1px solid #d3d3d3;
	/*font-size: 16px;*/
}
#zhifu button{
	border: 1px solid #8e8e8e;
	border-radius:39px;
}
/*代理信息*/
.daili-hang{
	height: 12rem;
	background: white;
	border-radius: 20px;
	/*font-size: 18px;*/
}
.daili-hang .lie{
	height: 4rem;
	border-bottom: 1px solid #d3d3d3;
	padding: 23px 13px;
}
.xinzhen{
	text-align: center;
	/*font-size: 18px;*/ 
	height: 3.4rem;
	line-height: 3.4rem;
	background:#ff9900;
	color: white;
}
.xinzinput{
	height: 3.9rem;
	width: 99%;
}
/*报表*/
#baobiao input{
	width: 100%; 
	height: 2.5rem;
}
#meica{
	height: 3.5rem;
	background:#ff9900 ;
	margin:35px 10px 45px;
	text-align: center;
	padding-top: 10px;
	/*font-size: 18px;*/ 
}
#meica div{
	width: 80%;
	background:#ff7733;
	height: 75%;
	margin: auto;
	border-radius: 6%/50%;
	padding-top: 8px;
}
.dibu{
	background: white;
	border-top: 1px solid #d3d3d3;
}
.dibu div{
	border-bottom: 1px solid #d3d3d3;
	/*font-size: 18px;*/
}
/*俱乐部*/
#jlb-1{
	background: #f2f2f2;
	color: #333333;
	padding: 7px 17px;
	/*font-size:18px ;*/
	}
/*代理架构*/
#dljg td{
	line-height: 3rem;
	text-align: center;
}
#list button{
	border: 1px solid #ccc;
	margin-top: 8px;
	border-radius: 5px;
}
.t106{
	width: 106px;
}
.t110{
	width: 110px;
}
.t166{
	width: 166px;
}
.t180{
	width: 180px;
}
.t68{
	width: 68px;
}
.t82{
	width: 82px;
}
.t86{
	width: 86px;
}
.t96{
	width: 96px;
}
.active{
	disabled: true;
}
.inactive{
	disabled: false;
}
