.rows{
	height: 60px;
	width: 100%;
}
.cols{
	float: left;
	width: 400px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
 .col1{
  	width: 120px;
  	float: left;
  	line-height: 44px;
  	text-align: center;
  	height: 44px;
  }
  .col2{
  	width: 260px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
  .col3{
  	width: 200px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
  
 .col120{
  	width: 120px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
   .col100{
  	width: 100px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
   .col110{
  	width: 110px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
  .col80{
  	width:80px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
  
   .col160{
  	width: 160px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
 .col150{
  	width: 150px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
   .col170{
  	width: 170px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
  .col220{
  	width: 220px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
   .col223{
  	width: 223px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
  .col340{
  	width: 340px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  	height: 44px;
  }
   .col245{
   	height: 44px;
  	width: 245px;
  	line-height: 44px;
  	float: left;
  	text-align: center;
  }
 .col3 .btn{
  	font-size: 12px;
  }
  .modal-body p{
  	text-align: center;
  	font-size: 16px;
  	color:rgba(45, 73, 100, 1);
  }
 .modal-body input{
 	height: 30px;
 	width: 200px;
 	border: 1px solid #2D4964;
 }
 .modal-body button{
 	margin-top: 10px;
 	height: 33px;
 	width: 200px;
 	color: white;
 	background:#2D4964 ;
 	/*border: 1px solid #2D4964;*/
 }
.modal-body .butt{
 	margin-top: 15px;
 	height: 33px;
 	margin-left: 10px;
 	width: 110px;
 	
 }
  .modal-body1 p{
  	text-align: center;
  	font-size: 16px;
  	color:rgba(45, 73, 100, 1);
  }
 .modal-body1 input{
 	height: 30px;
 	width: 200px;
 	border: 1px solid #2D4964;
 }
 .modal-body1 button{
 	margin-top: 10px;
 	height: 33px;
 	width: 200px;
 	color: white;
 	background:#2D4964 ;
 	/*border: 1px solid #2D4964;*/
 }
.modal-body1 .butt{
 	margin-top: 15px;
 	height: 33px;
 	margin-left: 10px;
 	width: 110px;
 	
 }
 .kedian{
 	background: #2D4964;
 	color: white;
 	cursor:pointer ;
 }
 .wuxiao{
 	background: whitesmoke;
 	color:#2D4964 ;
 	cursor: not-allowed;
 }
.disabled{ background-color: #DDDDDD;   cursor: not-allowed;}
/*.active{ border: solid thin #0099FF;background-color: #0099FF;color: white;}*/
		

ul,li{margin: 0;padding: 0;list-style: none;}
    	.pageMenu li::selection{background:transparent;}
    	.clearfix{zoom:1;}
		.clearfix:after{content:"";display: block;clear: both;}
		.pageDiv{width: 98.75%; background: #fff;margin-bottom: 10px;}
		.pageDiv li{margin-bottom: 10px;border:1px solid #dbdbdb;width: 21.5%;margin-right: 1.25%;float:left;margin-top: 10px;padding: 1%;text-align: center;}
		.hide{display: none;}
		.notContent{padding: 15px 0;text-align: center;}

		.page{width: 100%;margin: 0 auto;}
		.pageMenu{display: inline-block;width: 90%;}
		
		.pageMenu li{border: solid thin #ddd;margin: 3px;float: left;padding: 5px 10px;cursor: pointer;background: #fff;}
		.pageMenu li.firstPage{}
		.pageMenu li.prevPage{}
		.pageMenu li.pageNum{}
		.pageMenu li.nextPage{}
		.pageMenu li.lastPage{}
		.pageMenu li.disabled{ background-color: #DDDDDD;   cursor: not-allowed;}
		.pageMenu li.active{ border: solid thin #0099FF;background-color: #0099FF;color: white;}
		.pageMenu li.last{background: transparent;border:0;position: relative;top: -4px;}
		.page .keuInput{padding: 0 5px;width: 30px;border: solid thin #ddd;height: 29px;outline: none;text-align: center;font-size: 16px;}
		.page .btnSure{padding: 4px 8px;border: solid thin #ddd;outline: none;text-align: center;font-size: 16px;background: #fff;position: relative;top: 2px;}
		.page .btnSure:hover{cursor: pointer;}