<!DOCTYPE html>
<html>
	<head>	
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <title>套餐详情</title>
    <link rel="manifest" href="manifest.json">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/services.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    
	</head>
  <body ng-app="app" ng-controller="mycontroller">
  
	<div class="bar bar-header bar-light">
		<button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>
	
	  <h1 class="title">套餐详情</h1>
	  
	</div>	
  <ion-content direction >
  	 <div class="tou-m" style="margin-top: 28px;">
  	 	<div style="background: white;padding: 15px;">
	  	 		<div class="wo-hang-1 tao" >
	    	         <span>套餐名称</span>
	    		     <span style="float: right;">{{taocanData.pname}}</span>
	            </div>
	            <div class="wo-hang-1 tao" >
	    	         <span>房卡数量</span>
	    		     <span style="float: right;">{{taocanData.number}}</span>
	            </div>
	            <div class="wo-hang-1 tao" >
	    	         <span>售价</span>
	    		     <span style="float: right;">{{taocanData.money}}</span>
	            </div>
	            <div class="wo-hang-1 tao">
	    	         <span>代理账号</span>
	    		     <span style="float: right;">{{taocanData.agentPhone}}</span>
	            </div>
	            <div id="zhifu" style="margin-top: 60px;">
		            	<p class="shiliu" style="color:#55555 ;margin: 15px 0px 30px;">
		            		注：支付后充入后台账号，充入玩家账号请前往【玩家充值】
		            	</p>
			  		 	  <button ng-click="wxzhifuFn()" class="button button-full buton-outline button-stablet" >
		 				       	微信支付
		            </button>
		            <button ng-click="zfbzhifuFn()"  class="button button-full buton-outline button-stablet" >
		 					         支付宝支付
		             </button>
	            </div>
	  	 	
	  	 </div>
  	 </div>
  	 <div id="forms">
  	 	
  	 </div>
  	<div class="weixin-tip">
  		<p ng-click="cxFn()" style="color: white;">X</p>
		<div style="padding: 30px 20px;color: white;">
			<h3>
				1:请点击右上角，三个点的按键
			</h3>
			<h3>
				2:选择里面的，在"浏览器打开"
			</h3>
		</div>
	 </div>
   </ion-content>
</body>
<script type="text/javascript">
	function is_weixin() {
	var ua = navigator.userAgent.toLowerCase();
	if (ua.match(/MicroMessenger/i) == "micromessenger") {
		return true;
	}else{
		return false;
	}

}
	function GetUrlPara()
	　　{
	　　　　var url = document.location.toString();
	　　　　var arrUrl = url.split("?");	
	　　　　var para = arrUrl[1];
	　　　　return para;
	　　}
	//var urltou='http://192.168.0.21:80' ;
	var urltou='http://localhost' ;
var app=angular.module('app', []);
app.controller("mycontroller",function($scope,$http){
	var pp =GetUrlPara();
	var aa=pp.split("&")[0];
	var token = aa.split("=")[1]; 
	 
    var index=pp.split("&")[1];
	  index = index.split("=")[1]; 
	 var indexs = index.split("d")[0];
	  var shul=index.split("d")[1];
      console.log(index)  
  
	if(indexs==7){
	var data ={"selectItem":indexs,"num":shul} ;
        data= JSON.stringify(data);
	}else{
	var data ={"selectItem":indexs,"num":1} ;
        data= JSON.stringify(data);
	}
    $scope.taocanData="";
	$.ajax({
            url:urltou+"/ws/agent/addMenuOrder",
            type:"POST",
		    async:false,
            contentType:"application/json",
            beforeSend: function(request){
	           request.setRequestHeader("Access-Control-Allow-Headers", token);
	        },
            data:data,
            success:function(res){
            	if(res.status==0){
            		$scope.taocanData=res.data;
                      console.log(res);
            	}else{
            		alert(res.errorMessage)
            	}
                  
            },
            error:function(res){
                console.log(res);
            }
     });
 $scope.goBackFn = function () {
      window.history.go(-1);
    };
  $scope.wxzhifuFn=function(){
  	
  };
  $scope.zfbzhifuFn=function(){
  	var winHeight = $(window).height();
  	var money=$scope.taocanData.money;
  	var id=$scope.taocanData.orderId;
  	var isWeixin = is_weixin();
	if(isWeixin){
			$(".weixin-tip").css("height",winHeight);
			$(".weixin-tip").show();
//			var urls=document.location.toString();
			
	}else{
		var data ={"money":money,"orderId":id} ;
        data= JSON.stringify(data);

        $scope.canshuData="";
		 $.ajax({
	            url:urltou+"/ws/pay/ali/createOrder1",
	            type:"POST",
			    async:false,
	            contentType:"application/json",
	            beforeSend: function(request){
		           request.setRequestHeader("Access-Control-Allow-Headers", token);
		        },
	            data:data,
	            success:function(res){
//	            		$scope.canshuData=res;
	            		$("#forms").append(res);
//	            		$("#payform").attr("action",'https://mapi.alipay.com/gateway.do?'+$scope.canshuData)
//	            		location.href='https://mapi.alipay.com/gateway.do?'+$scope.canshuData;
	                    console.log(res);
	            
	            },
	            error:function(res){
	                console.log(res)
	            }
	     });
	}
 
  }
  $scope.cxFn=function(){
  	$(".weixin-tip").hide();
  } 
       
       
       
       
       
})
   

</script>
</html>
