<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <title>重置密码</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/angular/angular.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    
  </head>
  <body ng-app="apps" ng-controller="DashCtrl" >
    <div class="ersi" style="height: 4rem; background:#ff7733 ;text-align: center;color: white; line-height: 4rem;">
    	重置密码
    </div>
    <form class="form-horizontal" name="myForm">
	    <div id="mima" style="padding: 15px;">
	    	<div style="position: relative;height: 2.5rem;">
	    		<i class="icon ion-android-phone-portrait"></i>
	    		<input type="text" id="phone" placeholder="手机号" ng-model="name" name="name" id="name" required/>
	    	</div>
	    	<div style="position: relative;height: 2.5rem;">
	    	    <i style="top: 4px;" class="icon ion-ios-unlocked-outline"></i>
	    		<input type="password" id="passwords" name="password" ng-model="password" ng-minlength="6" ng-pattern="/[0-9a-zA-Z]/" placeholder="输入你的新密码" required/>	   
	    	</div>
	    	<p class="shiliu" style="color: red;">(格式要求：6为以上大小写字母或数字)</p>
	        <p class="shiba" style="color: #979797;">验证码</p>
	         <input type="text" id="yanzenm" ng-model="yanzenm" name="yanzenm" id="yanzenm" required  />
	    </div>
	    <div style="padding: 15px;">
	        <span class="shiba" style="float: left;margin-top: 12px;">
	        	<a href="denglu.html"style="color: #979797;" >返回登录</a>	
	        </span>        	 
	        <div style="float: right;">
	         <!--<button id="yazm" class="button dybutton" >
					  获取验证码
					</button>-->
				<input type="button" class="shisi" id="yazm" value="获取验证码" ng-disabled="myForm.name.$error.required" style="background:#ff7733 ;color: #ffffff;height:2.5rem" />
	        
				 <button id="congzi"  style="background:#ff7733;color: #ffffff;height:2.5rem " ng-disabled="myForm.name.$error.required||myForm.password.$error.required||myForm.yanzenm.$error.required">
				        重置
				</button>
	        </div>
	        
	    </div>
	    
    </form>
  </body>
  <script type="text/javascript">
  window.alert = function(name){
 var iframe = document.createElement("IFRAME");
iframe.style.display="none";
iframe.setAttribute("src", 'data:text/plain,');
document.documentElement.appendChild(iframe);
window.frames[0].window.alert(name);
iframe.parentNode.removeChild(iframe);
}
   var wait=60;  
 function time(o) {  
        if (wait == 0) {  
            o.removeAttribute("disabled");            
            o.value="获取验证码";  
            wait = 60;  
        } else {  
            o.setAttribute("disabled", true);  
            o.value="重新发送(" + wait + ")";  
            wait--;  
            setTimeout(function() {  
                time(o)  
            },  
            1000)  
        }  
    }  
	  var phone="";
  	$("#yazm").click(function(){  
       time(this)	
  	  phone =	$("#phone").val();
       $.ajax({
            url:"http://localhost/ws/account/verifyCode",
            type:"POST",
            contentType:"application/json",
            data:{"phone":phone},
            success:function(res){
                    console.log(res);
		
            },
            error:function(res){
                console.log(res)
            }
        })
   });  	  	
   $("#congzi").click(function(){  	  
  	  var passwords = $("#passwords").val();
  	  var verifyCode = $("#yanzenm").val();
  	  var data = {"phone":phone,"newPass":passwords,"code":verifyCode};
          data= JSON.stringify(data);
        $.ajax({
            url:"http://47.92.115.31/back/ws/account/forgetPassord",
            type:"POST",
            contentType:"application/json",
            data:data,
            success:function(res){
             if(res.status==0){
            		alert("修改成功");
            	}else{
            		alert(res.errorMessage);
            	}
            },
            error:function(res){
                console.log(res)
            }
        })
    });
    var app = angular.module("apps",[]);
    app.controller("DashCtrl",function ($scope) {
    	
    })
  </script>
</html>
