<!DOCTYPE html>
<html>
	<head>	
	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <title>套餐详情</title>
    <link rel="manifest" href="manifest.json">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/services.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    
	</head>
  <body ng-app="app" ng-controller="mycontroller">
  
	<div class="bar bar-header bar-light">
		<button class="button button-icon ion ion-android-arrow-back" ng-click="goBackFn()"></button>
	
	  <h1 class="title">套餐详情</h1>
	  
	</div>	
  <ion-content direction >
  	 <div class="tou-m" style="margin-top: 28px;">
  	 	<div style="background: white;padding: 15px;">
	  	 		<div class="wo-hang-1 tao" >
	    	         <span>套餐名称</span>
	    		     <span style="float: right;">{{taocanData.pname}}</span>
	            </div>
	            <div class="wo-hang-1 tao" >
	    	         <span>房卡数量</span>
	    		     <span style="float: right;">{{taocanData.number}}</span>
	            </div>
	            <div class="wo-hang-1 tao" >
	    	         <span>售价</span>
	    		     <span style="float: right;">{{taocanData.money}}</span>
	            </div>
	            <div class="wo-hang-1 tao">
	    	         <span>代理账号</span>
	    		     <span style="float: right;">{{taocanData.agentPhone}}</span>
	            </div>
	            <div id="zhifu" style="margin-top: 60px;">
		            	<p class="shiliu" style="color:#55555 ;margin: 15px 0px 30px;">
		            		注：支付后充入后台账号，充入玩家账号请前往【玩家充值】
		            	</p>
			  		 	  <button id="wxzf" ng-click="wxzhifuFn()" class="button button-full buton-outline button-stablet" >
		 				       	微信支付
		            </button>
		            <button ng-click="zfbzhifuFn()"  class="button button-full buton-outline button-stablet" >
		 					         支付宝支付
		             </button>
	            </div>
	  	 	
	  	 </div>
  	 </div>
  	 <div id="forms">
  	 	
  	 </div>
  	<div class="weixin-tip">
  		<p ng-click="cxFn()" style="color: white;">X</p>
		<div style="padding: 30px 20px;color: white;">
			<h3 style="color: white;">
				1:请点击右上角，三个点的按键
			</h3>
			<h3 style="color: white;">
				2:选择里面的，在"浏览器打开"
			</h3>
		</div>
	 </div>
   </ion-content>
</body>
<script type="text/javascript">
	var openid="";//代理的openid
var getWechatOrder = "";//获取微信订单详情
var flag = true;

  window.alert = function(name){
 var iframe = document.createElement("IFRAME");
iframe.style.display="none";
iframe.setAttribute("src", 'data:text/plain,');
document.documentElement.appendChild(iframe);
window.frames[0].window.alert(name);
iframe.parentNode.removeChild(iframe);
}
  

//判断是否是微信浏览器
function isWeiXin(){ 
	var ua = window.navigator.userAgent.toLowerCase(); 
	if(ua.match(/MicroMessenger/i) == 'micromessenger'){ return true; }else{return false; } 
 
}

	
function is_weixin() {
	var ua = navigator.userAgent.toLowerCase();
	if (ua.match(/MicroMessenger/i) == "micromessenger") {
		return true;
	}else{
		return false;
	}

}
	function GetUrlPara()
	　　{
	　　　　var url = document.location.toString();
	　　　　var arrUrl = url.split("?");	
	　　　　var para = arrUrl[1];
	　　　　return para;
	　　}
	//var urltou='http://192.168.0.21:80' ;
	var urltou='http://47.92.115.31/back' ;
var app=angular.module('app', []);
app.controller("mycontroller",function($scope,$http){
	$("#wxzf").attr('disabled',false)
	var pp =GetUrlPara();
	var aa=pp.split("&")[0];
	var token = aa.split("=")[1]; 
	 
    var index=pp.split("&")[1];
	  index = index.split("=")[1]; 
	 var indexs = index.split("d")[0];
	  var shul=index.split("d")[1];
      console.log(index)  
  
	if(indexs==7){
	var data ={"selectItem":indexs,"num":shul} ;
        data= JSON.stringify(data);
	}else{
	var data ={"selectItem":indexs,"num":1} ;
        data= JSON.stringify(data);
	}
    $scope.taocanData="";
	$.ajax({
            url:urltou+"/ws/agent/addMenuOrder",
            type:"POST",
		    async:false,
            contentType:"application/json",
            beforeSend: function(request){
	           request.setRequestHeader("Access-Control-Allow-Headers", token);
	        },
            data:data,
            success:function(res){
            	if(res.status==0){
            		$scope.taocanData=res.data;
			getOpenId(token);
                      console.log(res);
            	}else{
            		alert(res.errorMessage)
            	}
                  
            },
            error:function(res){
                console.log(res);
            }
     });
  
 $scope.goBackFn = function () {
      window.history.go(-1);
    };
  $scope.wxzhifuFn=function(){
  		$("#wxzf").attr('disabled',true)
	    getOpenId(token);
        getWechatPay();
	 	if (typeof WeixinJSBridge == "undefined"){
			//alert("微信浏览器系统版本过低，请将微信升级至5.0以上");
	 	 	if( document.addEventListener ){
				document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
			}else if (document.attachEvent){
				document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
				document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
			} 
		}else{ 
			onBridgeReady(token);
			flag = false;
		}
  };
  $scope.zfbzhifuFn=function(){
  	var winHeight = $(window).height();
  	var money=$scope.taocanData.money;
  	var id=$scope.taocanData.orderId;
  	var isWeixin = is_weixin();
	if(isWeixin){
			$(".weixin-tip").css("height",winHeight);
			$(".weixin-tip").show();
//			var urls=document.location.toString();
			
	}else{
		var data ={"money":money,"orderId":id} ;
        data= JSON.stringify(data);

        $scope.canshuData="";
		 $.ajax({
	            url:urltou+"/ws/pay/ali/createOrder1",
	            type:"POST",
			    async:false,
	            contentType:"application/json",
	            beforeSend: function(request){
		           request.setRequestHeader("Access-Control-Allow-Headers", token);
		        },
	            data:data,
	            success:function(res){
//	            		$scope.canshuData=res;
	            		$("#forms").append(res);
//	            		$("#payform").attr("action",'https://mapi.alipay.com/gateway.do?'+$scope.canshuData)
//	            		location.href='https://mapi.alipay.com/gateway.do?'+$scope.canshuData;
	                    console.log(res);
	            
	            },
	            error:function(res){
	                console.log(res)
	            }
	     });
	}
 
  }
  $scope.cxFn=function(){
  	$(".weixin-tip").hide();
  } 
       
 
 //获取用户的openid
function getOpenId(token){
  	//if(isWeiXin()){
  		 var urls=urltou+'/ws/wechat/getOpenid';
         $.ajax({
  	            url:urls,
  	            type:"POST",
  	            async:false,
  	            contentType:"application/json",
  	            beforeSend: function(request){
  		           request.setRequestHeader("Access-Control-Allow-Headers", token);
  		        },
  	            success:function(res){
  						console.log(res);
						//alert(res.data)
  						if(res.status==0){
  						  window.location.href=res.data;
  						}else if(res.status==1){
  						openid = res.data;
  						}
  	            },
  	            error:function(res){
  	                console.log(res)
  	            }
  	     });
     //}
  }
 
 //获取微信订单参数
function getWechatPay(){
	//var moneys=$scope.taocanData.money;
	var ids=$scope.taocanData.orderId;
       $scope.canshuData="";
        	 $.ajax({
	            url:urltou+'/ws/pay/wechat/H5CreateOrder?orderId='+ids+'&openId='+openid,
	            type:"GET",
			    async:false,
	            contentType:"application/json",
	            beforeSend: function(request){
		           request.setRequestHeader("Access-Control-Allow-Headers", token);
		        },
	            success:function(res){
//	                    console.log(res);
//	                    console.log(res.data.appId);
//	                    console.log(res.data.timeStamp);
//	                    console.log(res.data.nonceStr);
//	                    console.log(res.data.paySign);
//	                    console.log(res.data.signType);
//	                    console.log(res.data.package);
	    				if(res.status == 0){
	    					getWechatOrder = res.data;

				}
	            },
	            error:function(res){
	                alert("获取一系列参数失败！");
	                console.log(res);
	            }
	     });
}
       
 //微信平台提供
    function onBridgeReady(token){
	   WeixinJSBridge.invoke(
	       'getBrandWCPayRequest', {
	           "appId":getWechatOrder.appId,     //公众号名称，由商户传入     
	           "timeStamp":getWechatOrder.timeStamp,        //时间戳，自1970年以来的秒数     
	           "nonceStr":getWechatOrder.nonceStr, //随机串     
	           "package":getWechatOrder.package,     
	           "signType":getWechatOrder.signType,           //微信签名方式：     
	           "paySign":getWechatOrder.paySign  //微信签名 
	       },
	       function(res){     
	           if(res.err_msg == "get_brand_wcpay_request:ok" ) {
	        	   alert("支付成功");
		           window.location.href = "http://mingmen.youshengtec.net/back/index.html?name="+token+"#/tab/account/gouka"
	           }     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
	       }
	   ); 
	}       
       
})
   
</script>
</html>
