<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <title>注册</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/angular/angular.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body ng-app="myapp" ng-controller="myFirstC" >
    <div class="ersi" style="height: 4rem; background:#ff7733 ;text-align: center;color: white; line-height: 4rem;">
    	代理注册
    </div>
    <form class="form-horizontal" name="myForm">
	    <div id="mima" style="padding: 15px;">
	    	<div style="position: relative;height: 2.7rem;">
	    		<i class="icon ion-android-phone-portrait"></i>
	    		<input id="sjh" name="name" ng-model="name" type="text" placeholder="手机号" required/>
	    	</div>
	    	<div style="position: relative;height: 2.7rem;">
	    	    <i style="top: 4px;" class="icon ion-ios-unlocked-outline"></i>
	    		<input type="password" id="password" name="password" ng-model="password" ng-minlength="6"  placeholder="密码" required />
	    	</div>
	    	<p class="shiba" style="color: #979797;">昵称</p>
	    	<input type="text" name="nicen" id="nicen" ng-model="nicen" ng-maxlength="5" required/>
		<p>
                   <span style="color: red" ng-show="myForm.name.$invalid">
                       <span ng-show="myForm.nicen.$error.maxlength">*昵称长度不能超过五个字符</span>
                  </span>
                 </p>
	    	<p class="shiba" style="color: #979797;">邀请码</p>
	        <input type="text" id="yaoqin" name="yaoqin" ng-model="yaoqin" required/>
	        <p class="shiba" style="color: #979797;">手机验证码</p>
	        <div>
	         	<input type="text" id="yanzen"  name="yanzen" ng-model="yanzen" style="width: 65%;float: left;height: 2.5rem;"required />
	         	<!--<button id="yzm" class="button dybutton shisi" style="width: 33%;float: right;" >
						  获取验证码
						</button>-->
	       	<input type="button" class="shisi" id="yzm" value="获取验证码" ng-disabled="myForm.name.$error.required" style="width: 33%;float: right;height: 2.5rem;padding: 0px;background:#ff7733 ;color: #ffffff;" />
	        </div>	         
	    </div>
	    <div style="padding: 15px;clear: both;">
	      <div class="checkbox" style="margin-bottom: 20px;">
                <label>
                    <input type="checkbox" checked name="checkbox"  style="float: left;" required>
                    <p style="float: left;margin: 4px 10px;">同意协议</p>
                </label>
		
            </div>
           <div style="float: right;">
            	<span style="font-size: 15px;" ng-click="dlFn()">登录</span>
            </div>

            <button id="zhuce" ng-click="zuceFn()" class="button button-full dybutton" ng-disabled="myForm.name.$error.required ||myForm.password.$error.required||myForm.checkbox.$error.required||myForm.nicen.$error.required||myForm.nicen.$error.maxlength||myForm.yaoqin.$error.required||myForm.yanzen.$error.required" >
                          注册
            </button>
	    </div>
	    
    </form>
  </body>
  <script type="text/javascript"> 
  window.alert = function(name){
 var iframe = document.createElement("IFRAME");
iframe.style.display="none";
iframe.setAttribute("src", 'data:text/plain,');
document.documentElement.appendChild(iframe);
window.frames[0].window.alert(name);
iframe.parentNode.removeChild(iframe);
}
  	var app = angular.module("myapp",[]);
  app.controller("myFirstC",function ($scope) {
           $scope.dlFn=function(){
  		window.location.href ='denglu.html';
  	}
		$scope.zuceFn=function(){
			var phones =$("#sjh").val();
	  	var name = $("#nicen").val();
	  	var inviteCode=$("#yaoqin").val();
	  	var passwords= $("#password").val();
	  	var verifyCode = $("#yanzen").val();
	  	var data = {nikeName:name,phone:phones,inviteCode:inviteCode,password:passwords,verifyCode:verifyCode,type:1};
       data= JSON.stringify(data);
       $.ajax({
            url:"http://localhost/ws/account/addAgent ",
            type:"POST",
            contentType:"application/json",
//          processData:false,
            data:data,
            success:function(res){
            	if(res.status==0){
            		alert(res.errorMessage);
            		window.location.href ='denglu.html';
            	}else{
            		alert(res.errorMessage);
            	}
            },
            error:function(res){
                console.log(res)
            }
        })
			}
  });
  var wait=60;  
 function time(o) {  
        if (wait == 0) {  
            o.removeAttribute("disabled");            
            o.value="获取验证码";  
            wait = 60;  
        } else {  
            o.setAttribute("disabled", true);  
            o.value="重新发送(" + wait + ")";  
            wait--;  
            setTimeout(function() {  
                time(o)  
            },  
            1000)  
        }  
    }  
  $("#yzm").click(function(){ 
  	 time(this);
  	 var phone =	$("#sjh").val();
  	  console.log(phone)
        $.ajax({
            url:"http://localhost/ws/account/verifyCode",
            type:"POST",
            contentType:"application/json",
            data:{"phone":phone},
            success:function(res){
                    console.log(res);
            },
            error:function(res){
                console.log(res)
            }
        })
    });
//	 $("#zhuce").click(function(){	
//	 
//  });
  </script>
</html>
